<!--    <script type="text/ng-template" id="modalContent.html"> -->
<div class="modal-body modal-custom">
    <a href="#" class="x-close-button" ng-click="cancel()"></a>
    <div class="modal-template">
        <accordion close-others="oneAtATime">
            <accordion-group heading="" ng-repeat="item in items | orderObjectBy: 'ahnentafel_number' : false" is-open="item.fullDetailsVisible">
                <accordion-heading>
                    <div style="text-align:center;" ng-click="getMemories(item, items.indexOf(item))">
                        <div class="panel-title-wrap">
                            <span class="glyphicon glyphicon-chevron-down" style="width:10%"></span>
                            <span style="width: 70%;">{{ item.fsObj.$getDisplayName() }}</span>
                            <span class="spinner-memories" style="">
                                <div style="font-size: 10pt; text-transform: capitalize;" ng-show="item.memoriesCount > 0">
                                    {{ item.memoriesCount + (item.memoriesCount == 1 ? " Memory" : " Memories") }}
                                </div>&nbsp;
                                <span style="width: 50px; height:50px; border-radius: 50%; overflow:hidden;">
                                    <img ng-src="{{item.portrait}}" style="width: auto; max-height: 50px;">
                                </span>
                            </span>
                        </div>
                    </div>
                </accordion-heading>
                <div ng-if="item.fullDetailsVisible">
                    <p class="lifesp">
                        {{ item.fsObj.$getBirthDate() }}
                        <span ng-if="item.fsObj.living == true">- Living</span>
                        <span ng-if="item.fsObj.living == false">
                            <span ng-if"item.fsObj.$getDeathDate() != undefined">
                                - {{ item.fsObj.$getDeathDate() }}
                            </span>
                        </span>
                    </p>

                    <p class="personrel"><em>{{ personRelation(item.fsObj) }}</em></p>
                    <div class="stories">

                        <ul>
                            <li ng-repeat="memory in item.memories" style="display:inline-block; cursor: pointer;" ng-click="openMemoryModal(memory)">

                                    <div ng-if="(( memory.mediaType.substring(0, 5) == 'image' ))">
                                        <div class="photo-box">
                                          <div class="photo">
                                            <img src="{{ memory.$getThumbnailUrl() }}">
                                          </div>
                                          <div class="photo-box-title">{{memory.$getTitle()}} - {{memory.$getDescription()}}</div>
                                        </div>
                                    </div>
                                    <div ng-if="memory.mediaType == 'text/plain'">
                                        <div class="photo-box">
                                            <div class="photo-box-title" style="margin-bottom:10px;height:55px;text-align:left;margin-top:0">{{memory.$getTitle()}} </div>
                                            <div class="photo-box-desc">{{ memory.descriptions[0]['value'] }}</div>
                                        </div>
                                    </div>

                            </li>
                        </ul>
                    </div>
                    <br>

                    <div class="find">
                        <p><a href="{{ 'http://www.behindthename.com/names/search.php?terms=' +  item.fsObj.$getGivenName() }}" target="_blank">
                            {{ item.fsObj.$getGivenName() }} at behindthename.com
                        </a></p>

                        <p><a href="{{ 'https://familysearch.org/tree/#view=ancestor&person=' + item.fsObj.id + '&section=details' }}" target="_blank">
                            View on familysearch.com
                        </a></p>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>