{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
{% verbatim %}

    <div ng-view></div>
    
    <script type="text/javascript">
        var target = document.getElementById('anc-spinner')
        var spinner = new Spinner().spin(target);
    </script>

    <!-- Templates -->
    <!-- Todo: Move to partials folder (or another directory) -->
    <script type="text/ng-template" id="home.html">
        <div ng-controller="MainCtrl">
            <div id="top">
                <div class="header">
                    <p id="user-details" class="text-center" ng-show="loggedIn">
                        Welcome <span ng-show="contactName">{{ contactName }}</span>!<span class="name"></span>
                        <a style="text-decoration:underline;" id="logout-user" ng-click="logoutUser()" href="">Logout</a>
                    </p>
                </div>
                <div class="subheader text-center">
                    <div class="filter">
                        <a class="btn btn-default" id="boy-names" href="">Boy Names</a>
                        <a class="btn btn-default" id="girl-names" href="">Girl Names</a>
                        <a class="btn btn-default active" id="all-names" href="">All Names</a>
                    </div>
                </div>
            </div>
            <div id="top-login" ng-hide="loggedIn">
                <div class="box-login">
                    <p>Welcome to BabyAncestry.com!
                    We will automatically scan your family
                    history and create a list of name suggestions
                    for your new little one.</p>
                    <p>To get started, simply log in to
                    Family Search Database, where you will be
                    momentarily re-routed from our site.</p>
                    <a ng-click="loginUser()" class="btn btn-lg btn-info">Get Started</a> 
                </div>
            </div>
            <div id="content" ng-show="loggedIn">
                <div class="container">
                    <div class="template-grid">
                        <div class="container">
                            <div id="ancestors">
                                <div id="anc-spinner"></div>
                                <ul>
                                    <li class="{{obj.persons[0].fsObj.$getDisplayGender()}}" ng-repeat="obj in ancestorsList | orderObjectBy: 'personsCount' : true">
                                        <a href="" data-toggle="modal" ng-click="openModal(obj.category)"> 
                                            <p class="ancestorName">
                                               {{ obj.category }}
                                            </p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--<div class="footer_btn template-footer">
                        <a id="add_aunts" class="A btn btn-default theme-btn" href="">Add Aunts</a>
                        <a id="add_uncles" class="U btn btn-default theme-btn" href="">Add Uncles</a>
                    </div>-->
                 </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="modalContent.html">
        <div class="modal-body">
          <div class="modal-template">
                <accordion close-others="oneAtATime">
                    <accordion-group ng-click="getMemories(item.fsObj, items.indexOf(item))" heading="" ng-repeat="item in items | orderObjectBy: 'memoriesCount' : true">
                        <accordion-heading>
                            <span class="glyphicon glyphicon-chevron-down" style="float:left;"></span> 
                            {{ item.fsObj.$getDisplayName() }}
                            <span class="spinner-memories" style="float:right;"></span> 
                        </accordion-heading>
                        <p class="lifesp"> 
                            {{ item.fsObj.$getBirthDate() }}
                            <span ng-if="item.fsObj.living == true">- Living</span>
                            <span ng-if="item.fsObj.living == false">
                                <span ng-if"item.fsObj.$getDeathDate() != undefined">
                                    - {{ item.fsObj.$getDeathDate() }}
                                </span>
                            </span>
                        </p>
                        <p class="personrel"><em>{{ personRelation(item.fsObj) }}</em></p>
                        <!--<p><span ng-if="item.memoriesCount != 0">{{ item.memoriesCount }} Memories</span></p>-->
                        <div class="stories">


                            <div>
                              <div style="min-height: 200px">
                                <carousel no-wrap="true">
                                  <slide ng-repeat="story in item.memories" active="slide.active">
                                    <img ng-src="{{story.$getThumbnailUrl()}}" style="margin:auto;">
                                    <div class="carousel-caption">
                                      <h4 style="color:black;">{{story.$getTitle()}}</h4>
                                      <p style="color:black;">{{story.$getDescription()}}</p>
                                    </div>
                                  </slide>
                                </carousel>
                              </div>
                            </div>



                            <!--<ul>
                                <li ng-repeat="story in item.memories" style="display:inline-block;">
                                    <div ng-if="((story.mediaType == 'image/png') || (story.mediaType == 'image/jpeg'))">
                                        <div class="panel panel-custom panel-default">
                                          <div class="panel-body" style="padding:0;">
                                            <img src="{{ story.$getThumbnailUrl() }}" height="200"> 
                                          </div>
                                        </div>
                                        
                                    </div>
                                    <div ng-if="story.mediaType == 'text/plain'">
                                        <div class="panel panel-custom panel-default">
                                          <div class="panel-body">
                                            <p>{{story.$getTitle()}}</p>
                                            <p>{{memory.$getDescription()}}</p>
                                          </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>-->
                        </div>
                        <br>
                        <div class="find">
                            <p><a href="">{{ item.fsObj.$getGivenName() }} at behindthename.com</a></p>
                            <p><a href="https://familysearch.org/tree/#view=ancestor&person="+ item.fsObj.id +"&section=details" target="_blank">View on familysearch.com</a></p>
                        </div>
                    </accordion-group>
                </accordion>









<!--
            <ul>
              <li ng-repeat="item in items"> 
                <a href="">
                    <p class="ancestorName"> {{ item.fsObj.$getDisplayName() }}</p>
                    <p> 
                        {{ item.fsObj.$getBirthDate() }}
                        <span ng-if="item.fsObj.living == true">- Living</span>
                        <span ng-if="item.fsObj.living == false">- {{ item.fsObj.$getDeathDate() }}</span>
                    </p>
                    <p><em>{{ personRelation(item.fsObj) }}</em></p>
                    <p><span ng-show="memories">4 Memories</span></p>
                </a>
                <div ng-controller="MainCtrl">
                    <p style="text-align:center;"><a style="text-decoration:underline;" href="" ng-click="showStories(item)" ng-hide="isStoriesLoaded">Show Stories</a></p>
                    <div class="personDetails" ng-show="isStoriesLoaded" style="text-align:center;">
                        <div class="stories">
                            <ul>
                                <li ng-repeat="story in stories" style="display:inline-block;">
                                    <div ng-if="story.$getThumbnailUrl() != undefined"><img src="{{story.$getThumbnailUrl()}}"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="find">
                            <p><a href="">{{ item.fsObj.$getGivenName() }} at behindthename.com</a></p>
                            <p><a href="https://familysearch.org/tree/#view=ancestor&person="+ item.fsObj.id +"&section=details" target="_blank">View on familysearch.com</a></p>
                        </div>
                    </div>
                </div>
              </li>
            </ul>-->
          </div>
        </div>
    </script>
    
{% endverbatim %}
{% endblock content%}