{% extends 'base.html' %}
{% load staticfiles %}

{# Multiple Modals: http://plnkr.co/edit/KSsewObNMCc5MlE1Uz77?p=preview #}

{% comment %}
SANDBOX LOGIN:
URL: https://sandbox.familysearch.org
User: tuf000205792
pass: 1234pass
{% endcomment %}

{% block content %}
    {% verbatim %}

    <div ng-view></div>

    <script type="text/javascript">
        var target = document.getElementById('anc-spinner')
        var spinner = new Spinner().spin(target);
    </script>

    <!-- Templates -->
    <!-- Todo: Move to partials folder (or another directory) -->
    <div class="top-section">
        <div class="logo-section hidden-xs">
            <a href="#"></a>
        </div>
        <div class="nav-section text-center">
            <div class="nav-logo"><img src="../static/app/img/header-mobile.png" width="100%"></div>
            <div class="filter" ng-show="ancestorsLoaded">
                <a class="btn btn-default" id="boy-names" href="" style="margin-bottom: 10px;">Boy Names</a>
                <a class="btn btn-default" id="girl-names" href="" style="margin-bottom: 10px;">Girl Names</a>
                <a class="btn btn-default active" id="all-names" href="" style="margin-bottom: 10px;">All Names</a>
                <!-- <div class="row">
                    <div class="col-md-4">
                        <a class="btn btn-default" id="boy-names" href="" style="margin-bottom: 10px;">Boy Names</a>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-default" id="girl-names" href="" style="margin-bottom: 10px;">Girl Names</a>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-default active" id="all-names" href="" style="margin-bottom: 10px;">All Names</a>
                    </div>
                </div> -->
            </div>
             <p id="user-details" ng-show="loggedIn">
                Welcome <span ng-show="contactName">{{ contactName }}</span>!<span class="name"></span>
                <a style="text-decoration:underline;" id="logout-user" ng-click="logoutUser()"
                   href="">Logout</a>
            </p>
        </div>
        <div class="ribbon-section"></div>
    </div>

    <!-- <div id="top">
        <div class="header">
            <img class="visible-xs" src="/static/app/img/header-mobile.png" width="100%">
        </div>
        <div class="subheader text-center">
            <div class="filter" ng-show="ancestorsLoaded">
                <div class="row">
                    <div class="col-md-4">
                        <a class="btn btn-default" id="boy-names" href="" style="margin-bottom: 10px;">Boy Names</a>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-default" id="girl-names" href="" style="margin-bottom: 10px;">Girl Names</a>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-default active" id="all-names" href="" style="margin-bottom: 10px;">All Names</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div id="top-login" ng-show="loadingAncestors">
        <div class="box-login">
            <h2>
                Scanning your ancestors
            </h2>
            <p><i>
                This might take a minute or two...
            </i></p>
            <img width="50" ng-src="/static/app/img/ajax-loader2.gif" src="/static/app/img/ajax-loader2.gif">
        </div>
    </div>

    <div id="top-login" ng-hide="loggedIn || loadingAncestors">
        <div class="box-login">
            <h4>Welcome to BabyAncestry.com!
                We will scan your family
                history and create a list of name suggestions
                for your new little one. Please sign in to Family Search to begin.</h4>

            <a ng-click="loginUser()" class="btn btn-md btn-info">Sign in to Family Search</a>
        </div>
    </div>


    <div id="content" ng-show="loggedIn">
        <div class="template-grid">
                <div id="ancestors">
                    <div id="anc-spinner"></div>
                    <ul>
                        <li class="{{obj.persons[0].fsObj.$getDisplayGender()}}"
                            ng-repeat="obj in ancestorsList | orderObjectBy: 'personsCount' : true">
                            <a href="" data-toggle="modal" ng-click="openNamesModal(obj.category)">
                                <span class="ancestorName">
                                   {{ obj.category }}
                                </span>
                                <span>
                                    ({{ obj.personsCount + (obj.personsCount > 1 ? ' people' : ' person') }} )
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
        </div>
            <!--<div class="footer_btn template-footer">
                <a id="add_aunts" class="A btn btn-default theme-btn" href="">Add Aunts</a>
                <a id="add_uncles" class="U btn btn-default theme-btn" href="">Add Uncles</a>
            </div>-->
    </div>

    {% endverbatim %}
{% endblock content %}
